<div class="card-container" *ngFor="let item of allPosts">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <!-- Optionally add an avatar image here -->
        </div>
        <mat-card-title>
          {{ item.name }}
        </mat-card-title>
        <mat-card-subtitle>
          Posted by: {{ item.postedBy }} | Posted on: {{ item.date | date:'medium' }}
        </mat-card-subtitle>
      </mat-card-header>
  
      <img mat-card-image [src]="item.img" alt="card image" class="post-img" />
  
      <mat-card-content>
        {{ (item.content && item.content.length > 600 ? (item.content | slice:0:600) + '....' : item.content) || 'Content not available' }}
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" class="my-but">
          {{ item.likeCount }} <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="my-but">
          {{ item.viewCount }} <mat-icon>remove_red_eye</mat-icon> 
        </button>
        <button mat-raised-button color="primary" class="my-but" routerLink="/view-post/{{ item.id }}">
          View Post
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  